<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustar Receita</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>
    <header>
        <h1>Ajustar Receita: {{ recipe.name }}</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('cadastro') }}">Cadastro de receitas</a></li>
                <li><a href="{{ url_for('ajuste') }}">Ajuste de receitas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h2>Ajustar Tamanho da Receita</h2>
            <form action="{{ url_for('adjust_recipe', recipe_id=recipe_id) }}" method="post">
                <label for="new_total">Novo Total em Gramas:</label>
                <input type="number" name="new_total" id="new_total" required>
                <button type="submit">Ajustar Receita</button>
            </form>
        </div>
        <div>
            <h2>Ingredientes</h2>
            <ul>
                {% for key, value in recipe.items() if key.startswith('ingredient-') %}
                    <li>{{ value }}: {{ recipe['quantity-' + key.split('-')[1]] }} {{ recipe['unit-' + key.split('-')[1]] }}</li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Trabalho estatística aplicada.</p>
    </footer>
</body>
</html>
