<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuste de Receitas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ajuste.css') }}">
</head>
<body>
    <header>
        <h1>Ajuste de Receitas</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('cadastro') }}">Cadastro de receitas</a></li>
                <li><a href="{{ url_for('ajuste') }}">Ajuste de receitas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h2>Receitas</h2>
            <ul>
                {% for recipe in recipes %}
                    <li>
                        {{ recipe.name }} - 
                        <a href="{{ url_for('adjust_recipe', recipe_id=recipe.id) }}">Ajustar</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Trabalho estatística aplicada.</p>
    </footer>
</body>
</html>
