<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>
    <header>
        <h1>Menu Principal</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('cadastro') }}">Cadastro de receitas</a></li>
                <li><a href="{{ url_for('ajuste') }}">Ajuste de receitas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h2>Receitas</h2>
            <div class="recipe-container">
                {% for recipe in recipes %}
                    <div class="recipe-card">
                        <strong>{{ recipe.name }}</strong>
                        <ul>
                            {% for key, value in recipe.items() %}
                                {% if key.startswith('ingredient-') %}
                                    <li>
                                        <strong>{{ value }}</strong>: 
                                        <span>{{ recipe['quantity-' + key.split('-')[1]] }} gramas</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Trabalho estatística aplicada.</p>
    </footer>
</body>
</html>
